@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

:root{
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --dark-blue: hsl(218, 44%, 22%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'karla', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
}

.container{
    width: 200px;
    height: 350px;
    background-color: var(--white);
    padding: 10px;
    border-radius: 10px;
}
.image{
    width: 100%;
    overflow: hidden;
    display: block;
}
img{
    width: 100%;
    height: 60%;
    border-radius: 10px;
}
.text-content{
    text-align: center;
}
h1{
    font-size: 14px;
    text-align:center;
    padding: 5px 3px 2px 2px;
    margin: 15px 0px 7px 0px;
    font-weight: 800;
}
p{
    font-size: 12px;
    padding: 10px 5px 5px 5px;
    color: var(--dark-blue);
    text-align: center;
    font-weight: 300;
}